::-webkit-scrollbar {
  background-color : #353535;
  height           : 12px;
  width            : 12px;
}

::-webkit-scrollbar-corner {
  background-color : #353535;
}

::-webkit-scrollbar-track {
  border-radius      : 10px;
  -webkit-box-shadow : inset 0 0 6px rgba(0,0,0,0.3);
}

::-webkit-scrollbar-thumb {
  border-radius      : 10px;
  -webkit-box-shadow : inset 0 0 6px rgba(0,0,0,0.5);
}

::-webkit-scrollbar-track-piece {
  background-color : #353535;
}

::-webkit-resizer {
  background-color : #353535;
}
